[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */setup.py
    */tests/*
    */tmp/*

# The [run] section must be at the end, as the build harness will add a
# "data_file" directive to the end of this file.
[run]
parallel = True
