# temporary editor files
*~
.#*
\#*#

# IDE configuration files
.idea
.spyder*
.ropeproject
.vscode

# Python generates numerous files when byte compiling / installing packages
__pycache__/
*.pyx
*.py[cod]
*.egg-info/

# Documentation builds
doc/OnlineDocs/_build
doc/OnlineDocs/**/*.spy

# Running pyomo / tests / solvers occasionally leaves extra files
*.out
pyomo/dataportal/parse_table_datacmds.py
gurobi.log
cplex.log

# Results from pytest --with-coverage
.coverage
*.cover

# Jupyterhub/Jupyterlab checkpoints
.ipynb_checkpoints

# Mac tracking files
*.DS_Store*
