# IDE configuration files
.idea
.spyder*
.ropeproject

# Python generates numerous files when byte compiling / installing packages
*.pyx
*.pyc
*.pyo
*.egg-info

# Documentation builds
doc/OnlineDocs/_build

# Running pyomo / tests / solvers occasionally leaves extra files
*.out
pyomo/core/data/parse_table_datacmds.py
pyomo/dataportal/parse_table_datacmds.py
gurobi.log

# Results from nosetests --with-coverage
.coverage
*.cover

# Jupyterhub/Jupyterlab checkpoints
.ipynb_checkpoints