language: python
matrix:
  include:
  - python: '2.6'
    env: PYRO="Pyro"  YAML="pyyaml"
  - python: '2.7'
    env: PYRO="Pyro"  YAML="pyyaml"
  #- python: '2.7'     
  #  env: PYRO="Pyro" JYTHON="org.python:jython-installer:2.7.0"      
  #- python: pypy     
  #  env: PYRO="Pyro"  YAML="pyyaml"      
  - python: '3.4'        
    env: PYRO="Pyro4" YAML="pyyaml"      
  - python: '3.5'        
    env: PYRO="Pyro4" YAML="pyyaml"      
  #- python: pypy3        
  #  env: PYRO="Pyro4" YAML="pyyaml"      
  - python: '3.5'        
    env: PYRO="Pyro4" YAML=""
install:
- if [ -n "${JYTHON}" ]; then source install_jython.sh; fi
- if [ -n "${YAML}" ]; then pip install pyyaml; fi
- if [ "${TRAVIS_PYTHON_VERSION}" = "2.6" ]; then pip install ordereddict; fi
- pip install xlrd
- pip install openpyxl
- pip install $PYRO
- pip install coverage
- pip install networkx
- pip install git+https://github.com/PyUtilib/pyutilib
- python setup.py develop
script:
- cd ..
# The next three commands enable tracking of coverage
# for any subprocesses launched by tests
- ls -alh ${TRAVIS_BUILD_DIR}
- export COVERAGE_PROCESS_START=${TRAVIS_BUILD_DIR}/pyomo/.coveragerc
- SITE_PACKAGES=`python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"`
- echo "import coverage; coverage.process_startup()" > ${SITE_PACKAGES}/run_coverage_at_startup.pth
- test.pyomo --cat=nightly --cov
after_success:
# Combine coverage reports over all subprocesses
- coverage combine
- pip install codecov
- codecov
- pip install python-coveralls
- coveralls
- cd $TRAVIS_BUILD_DIR
deploy:
- provider: pypi
  server: https://testpypi.python.org/pypi # Updated
  user: whart111
  password:
    secure: "bxNfz0XywTc4vL2M39eEeYvTzDIjhwddzHRljCPCkP8ANLuxh6DPxFvFZDNGw+TA/U0q7r7POuhloa1zen0WyrcoWtWmC4WlixNoJ5mIl1RWXqpUzV5VqReYfYDE6FJs9G0tCrcgF/vzyzajDH9atxUxCdAoWqUnOdx+XcOBarUuz5PTRbI+GLkI8IJCyOgS0khXvoLbj4qi+SW9aOS4EKTQMxv3EPy9V3HNNe4yzbmnCFfaEWUVCFVs5vH7x4WbD3CN2lyjaE5ZTQHrAx2GZtTgZWtyypmv0nfXQ49s32xw/CRb9POUUQ4IGQybAcD2bEJeqaV+6HB93yJVcy6gYCCm0WV++sL1gsD1vYcmtqpWloF4O/lnQkaW0fD4twJUjapXm8QqCFRtXBt7/DxL72vQu1MWbeBQs3Vxo+1xBqy64txhXmREeTEIBfvmTxMRkIvensxwh8uRlhd252iJQC2K6KlIcG5kyEbsAkQp42JPswqveIZb0DmsHZ3LC2fN+UJICI04+UKDnqISibrtjNtD3HiGkdj1OGyzv3tOZx4ZrfPXQ8o3CR+291SJ/ADZAyMrLoNI6rOl0z9IRyCLUViz3QPZz4g7ClZUoJ9Hm7y9/v3nQcIC3/D7G1QzyLCoRpHEwb6lifyp2o6W8MOcwZYs/Uv0saNYMnftRmVFxhY="
  distributions: sdist --format=gztar bdist_wheel
  on:
    tags: false
    branch: master
    python: '2.7'
    condition: '"$YAML" = "pyyaml"'
- provider: pypi
  user: whart111
  password:
    secure: "bxNfz0XywTc4vL2M39eEeYvTzDIjhwddzHRljCPCkP8ANLuxh6DPxFvFZDNGw+TA/U0q7r7POuhloa1zen0WyrcoWtWmC4WlixNoJ5mIl1RWXqpUzV5VqReYfYDE6FJs9G0tCrcgF/vzyzajDH9atxUxCdAoWqUnOdx+XcOBarUuz5PTRbI+GLkI8IJCyOgS0khXvoLbj4qi+SW9aOS4EKTQMxv3EPy9V3HNNe4yzbmnCFfaEWUVCFVs5vH7x4WbD3CN2lyjaE5ZTQHrAx2GZtTgZWtyypmv0nfXQ49s32xw/CRb9POUUQ4IGQybAcD2bEJeqaV+6HB93yJVcy6gYCCm0WV++sL1gsD1vYcmtqpWloF4O/lnQkaW0fD4twJUjapXm8QqCFRtXBt7/DxL72vQu1MWbeBQs3Vxo+1xBqy64txhXmREeTEIBfvmTxMRkIvensxwh8uRlhd252iJQC2K6KlIcG5kyEbsAkQp42JPswqveIZb0DmsHZ3LC2fN+UJICI04+UKDnqISibrtjNtD3HiGkdj1OGyzv3tOZx4ZrfPXQ8o3CR+291SJ/ADZAyMrLoNI6rOl0z9IRyCLUViz3QPZz4g7ClZUoJ9Hm7y9/v3nQcIC3/D7G1QzyLCoRpHEwb6lifyp2o6W8MOcwZYs/Uv0saNYMnftRmVFxhY="
  distributions: sdist --format=gztar bdist_wheel
  on:
    tags: true
    branch: master
    python: '2.7'
    condition: '"$YAML" = "pyyaml"'
