language: python
matrix:
  include:
  #- python: '2.6'
  #  env:                             CATEGORY="nightly"
  #
  - python: '2.7'
    env:                             CATEGORY="nightly"
  - python: '2.7'
    env:                             CATEGORY="nightly"  EXTRAS="yes"
  #
#  - python: '3.4'
#    env:                             CATEGORY="nightly"  EXTRAS="yes"
#  - python: '3.4'
#    env:                             CATEGORY="parallel" EXTRAS="yes"
  #
#  - python: '3.5'
#    env:                             CATEGORY="nightly"
#  - python: '3.5'
#    env:                             CATEGORY="nightly"  EXTRAS="yes"
#  - python: '3.5'
#    env:                             CATEGORY="parallel" EXTRAS="yes"
#  - python: '3.6'
#    env:                             CATEGORY="nightly"
#  - python: '3.6'
#    env:                             CATEGORY="nightly"  EXTRAS="yes"
#  - python: '3.6'
#    env:                             CATEGORY="parallel" EXTRAS="yes"
  - python: pypy
    env:                             CATEGORY="nightly"  PYPY="yes"
  #
  #- python: '2.7'
  #  env: PYRO="Pyro" JYTHON="org.python:jython-installer:2.7.0"
  #- python: pypy
  #  env: PYRO="Pyro"  YAML="pyyaml"
  #- python: pypy3
  #  env: PYRO="Pyro4" YAML="pyyaml"
install:
- sudo apt-get update
#
# Setup miniconda and activate the testenv environment
#
- echo "${PYPY}"
- if [[ -z "${PYPY}" ]]; then
     if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh || travis_terminate 1;
     else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh || travis_terminate 1;
     fi
     bash miniconda.sh -b -p $HOME/miniconda || travis_terminate 1;
     export PATH="$HOME/miniconda/bin:$PATH" || travis_terminate 1;
     hash -r || travis_terminate 1;
     conda create -f -y -n testenv python=${TRAVIS_PYTHON_VERSION} || travis_terminate 1;
     source activate testenv || travis_terminate 1;
     if [ -n "${EXTRAS}" ]; then
        conda install -y --channel conda-forge pyomo.extras || travis_terminate 1;
     fi
     conda install -y --channel conda-forge glpk || travis_terminate 1;
     conda install -y --channel cachemeorg ipopt_bin || travis_terminate 1;
     conda install -y --channel conda-forge setuptools || travis_terminate 1;
  fi
#- if [ -n "${JYTHON}" ]; then source install_jython.sh; fi
#
# Install supporting packages
#
- if [ -n "${YAML}" ]; then
     pip install pyyaml || travis_terminate 1;
  fi
- if [ -n "${PYRO}" ];
     then pip install $PYRO || travis_terminate 1;
  fi
- if [ "${TRAVIS_PYTHON_VERSION}" = "2.6" ]; then
     pip install ordereddict || travis_terminate 1;
  fi
- pip install xlrd
- pip install openpyxl
- pip install coverage
#
# Clone but don't install pyomo-model-libraries
#
- git clone https://github.com/Pyomo/pyomo-model-libraries.git
#
# Install PyUtilib (master branch)
#
- pip install git+https://github.com/PyUtilib/pyutilib
#
# Install this package
#
- which python
- python --version
- python setup.py develop
script:
# The next three commands enable tracking of coverage
# for any subprocesses launched by tests
- export COVERAGE_PROCESS_START=${TRAVIS_BUILD_DIR}/.coveragerc
- SITE_PACKAGES=`python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"`
- echo "import coverage; coverage.process_startup()" > ${SITE_PACKAGES}/run_coverage_at_startup.pth
- test.pyomo -v --cat=$CATEGORY --cov
after_success:
# Combine coverage reports over all subprocesses
- cd $TRAVIS_BUILD_DIR
- coverage combine
- pip install codecov
- cp ../.coverage .
- codecov
#- pip install python-coveralls
#- coveralls
- cd $TRAVIS_BUILD_DIR
deploy:
- provider: pypi
  server: https://testpypi.python.org/pypi # Updated
  user: whart111
  password:
    secure: "bxNfz0XywTc4vL2M39eEeYvTzDIjhwddzHRljCPCkP8ANLuxh6DPxFvFZDNGw+TA/U0q7r7POuhloa1zen0WyrcoWtWmC4WlixNoJ5mIl1RWXqpUzV5VqReYfYDE6FJs9G0tCrcgF/vzyzajDH9atxUxCdAoWqUnOdx+XcOBarUuz5PTRbI+GLkI8IJCyOgS0khXvoLbj4qi+SW9aOS4EKTQMxv3EPy9V3HNNe4yzbmnCFfaEWUVCFVs5vH7x4WbD3CN2lyjaE5ZTQHrAx2GZtTgZWtyypmv0nfXQ49s32xw/CRb9POUUQ4IGQybAcD2bEJeqaV+6HB93yJVcy6gYCCm0WV++sL1gsD1vYcmtqpWloF4O/lnQkaW0fD4twJUjapXm8QqCFRtXBt7/DxL72vQu1MWbeBQs3Vxo+1xBqy64txhXmREeTEIBfvmTxMRkIvensxwh8uRlhd252iJQC2K6KlIcG5kyEbsAkQp42JPswqveIZb0DmsHZ3LC2fN+UJICI04+UKDnqISibrtjNtD3HiGkdj1OGyzv3tOZx4ZrfPXQ8o3CR+291SJ/ADZAyMrLoNI6rOl0z9IRyCLUViz3QPZz4g7ClZUoJ9Hm7y9/v3nQcIC3/D7G1QzyLCoRpHEwb6lifyp2o6W8MOcwZYs/Uv0saNYMnftRmVFxhY="
  distributions: sdist --format=gztar bdist_wheel
  on:
    tags: false
    branch: master
    python: '2.7'
    condition: '"$YAML" = "pyyaml"'
- provider: pypi
  user: whart111
  password:
    secure: "bxNfz0XywTc4vL2M39eEeYvTzDIjhwddzHRljCPCkP8ANLuxh6DPxFvFZDNGw+TA/U0q7r7POuhloa1zen0WyrcoWtWmC4WlixNoJ5mIl1RWXqpUzV5VqReYfYDE6FJs9G0tCrcgF/vzyzajDH9atxUxCdAoWqUnOdx+XcOBarUuz5PTRbI+GLkI8IJCyOgS0khXvoLbj4qi+SW9aOS4EKTQMxv3EPy9V3HNNe4yzbmnCFfaEWUVCFVs5vH7x4WbD3CN2lyjaE5ZTQHrAx2GZtTgZWtyypmv0nfXQ49s32xw/CRb9POUUQ4IGQybAcD2bEJeqaV+6HB93yJVcy6gYCCm0WV++sL1gsD1vYcmtqpWloF4O/lnQkaW0fD4twJUjapXm8QqCFRtXBt7/DxL72vQu1MWbeBQs3Vxo+1xBqy64txhXmREeTEIBfvmTxMRkIvensxwh8uRlhd252iJQC2K6KlIcG5kyEbsAkQp42JPswqveIZb0DmsHZ3LC2fN+UJICI04+UKDnqISibrtjNtD3HiGkdj1OGyzv3tOZx4ZrfPXQ8o3CR+291SJ/ADZAyMrLoNI6rOl0z9IRyCLUViz3QPZz4g7ClZUoJ9Hm7y9/v3nQcIC3/D7G1QzyLCoRpHEwb6lifyp2o6W8MOcwZYs/Uv0saNYMnftRmVFxhY="
  distributions: sdist --format=gztar bdist_wheel
  on:
    tags: true
    branch: master
    python: '2.7'
    condition: '"$YAML" = "pyyaml"'
