code.docutils.literal{
    color:#8C1AFF;
    border: 0px;
    background-color:#fcfcfc;
    padding:0px;
    font-size: 100%;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}
